DJANGO_SECRET_KEY=some-secret-key
DEBUG=True
DJANGO_LOGLEVEL=debug
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# MongoDB Configuration
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_DB=poll
MONGODB_USER=itispoll
MONGODB_PASS=qwerty123

DATABASE_ENGINE=postgresql
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=itispoll
DATABASE_USERNAME=itispoll
DATABASE_PASSWORD=qwerty123

REDIS_URL=redis://redis:6379/0
